<div class="form-group">
	<label>Cardholder Name</label>
	<input type="text" class="form-control" show-validation-icon ng-model="cardholderName" id="cardHolder" name="cardName" min-length="3" ng-required="state.required"></input>
</div>
<div class="form-group">
	<label>Card Number</label>
	<input type="text" class="form-control" credit-card-number card-type="cardType" name="cardNumber" ng-model-options="{ allowInvalid: true }" ng-trim="false" 
		ng-model="cardNumber" show-validation-icon ng-required="state.required"></input>
</div>
<div class="row">
	<div class="col-md-5 col-sm-4 col-xs-6">
		<div class="form-group">
			<label>Expire</label>
			<input type="text" class="form-control" placeholder="MM/YY" credit-card-expiration-entry year="expirationYear" year-digits="2" 
			month="expirationMonth" ng-model="monthYear"
			show-validation-icon ng-required="state.required"></input>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4">
		<div class="form-group">
			<label>CVV</label>
			<input type="text" class="form-control" credit-card-cvv="cardNumber" ng-model="securityCode" show-validation-icon ng-required="state.required"></input>
		</div>
	</div>
</div>
<div class="form-group" ng-show="state.allowCardSave">
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<div clas="checkbox">
					<label>
						<input type="checkbox" ng-model="saveCard"> Save Credit Card
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
