<html>
<head>
	<title>MV Test Harness</title>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="js/mv.js"></script>

	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
</head>
<body ng-controller="TestController">
	<div class="container">
		<div class="col-md-6">
			<a class="btn btn-primary" facebook-login-button facebook-callback="facebookResult(status, response)">Login with Facebook</a>
			<div ng-show="facebook.response">
				Result
				<pre>{{ facebook | json }}</pre>
			</div>
		</div>
		<div class="col-md-6">
		</div>

		<div class="col-md-6">
			<h3>Credit Card Form</h3>
			<div class="well">
				<form name="cardForm" ng-init="card= { save: false }; state= { showJSON: false, cardRequired: true };" novalidation>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="state.cardRequired"></input> Card Info Required</label>
					</div>
					<credit-card-information 
						cardholder-name="card.name" 
						card-number="card.number" 
						card-type="card.type"
						expiration-month="card.expirationMonth" 
						expiration-year="card.expirationYear" 
						security-code="card.cvv"
						save-card="card.save"
						card-required="state.cardRequired">
					</credit-card-information>
					<a class="btn btn-primary" ng-disabled="cardForm.$invalid">Submit</a>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="state.showJSON"></input> Show JSON</label>
					</div>
					<pre ng-show="state.showJSON">{{ card | json }}</pre>
					<pre ng-show="state.showJSON">{{ cardForm | json }}</pre>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3>Credit Card Form (Type Expiration)</h3>
			<div class="well">
				<form name="cardForm2" ng-init="card2= { save: false }; state2= { showJSON: false, cardRequired: true };" novalidation>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="state2.cardRequired"></input> Card Info Required</label>
					</div>
					<credit-card-information 
						cardholder-name="card2.name" 
						card-number="card2.number" 
						card-type="card2.type"
						expiration-month="card2.expirationMonth" 
						expiration-year="card2.expirationYear" 
						security-code="card2.cvv"
						save-card="card2.save"
						card-required="state2.cardRequired"
						type-expiration>
					</credit-card-information>
					<a class="btn btn-primary" ng-disabled="cardForm2.$invalid">Submit</a>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="state2.showJSON"></input> Show JSON</label>
					</div>
					<pre ng-show="state2.showJSON">{{ card2 | json }}</pre>
					<pre ng-show="state2.showJSON">{{ cardForm2 | json }}</pre>
				</form>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Address Form</h3>
			<div class="well">
				<form name="addressForm" ng-init="address= { useStreet2: true }; requiredFields= { street: true, city: true, state: true, zip: true, country: true }" novalidation>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="address.useStreet2"></input> Show Street 2</label>
					</div>
					<h4>Required Fields</h4>
					<div class="row">
						<div class="col-md-4">
							<div class="checkbox">
								<label><input type="checkbox" ng-model="requiredFields.street"></input> Require Street</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" ng-model="requiredFields.city"></input> Require City</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="checkbox">
								<label><input type="checkbox" ng-model="requiredFields.state"></input> Require State</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" ng-model="requiredFields.zip"></input> Require ZIP</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="checkbox">
								<label><input type="checkbox" ng-model="requiredFields.country"></input> Require Country</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<a class="btn btn-primary btn-sm" ng-click="address.street='19 Haywood St.'; address.city='Asheville'; address.state='NC'; address.country='US'; address.zip='28801';">US Address</a>
						<a class="btn btn-primary btn-sm" ng-click="address.street='Houghton Street'; address.city='London'; address.state=''; address.country='GB'; address.zip='WC2A 2AE';">UK Address</a>
						<a class="btn btn-primary btn-sm" ng-click="address.street='453 W 12th Ave'; address.city='Vancouver'; address.state='BC'; address.country='CA'; address.zip='V5Y 1V4';">CA Address</a>
					</div>
					<div class="form-group">
						<a class="btn btn-primary btn-sm" ng-click="showAddressDialog('us')">US Address Dialog</a>
						<a class="btn btn-primary btn-sm" ng-click="showAddressDialog('ca')">CA Address Dialog</a>
						<a class="btn btn-primary btn-sm" ng-click="showAddressDialog('gb')">GB Address Dialog</a>
					</div>
					<mv-address
						street="address.street"
						street2="address.street2"
						city="address.city"
						state="address.state"
						zip="address.zip"
						country="address.country"
						required-fields="requiredFields"
						use-street-2="address.useStreet2">
					</mv-address>
					<a class="btn btn-primary" ng-disabled="addressForm.$invalid">Submit</a>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="address.showJSON"></input> Show JSON</label>
					</div>
					<pre ng-show="address.showJSON">{{ address | json }}</pre>
				</form>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Other Elements</h3>
			<div class="well">
				<form name="otherForm" novalidation ng-init="misc= { showJSON: false };">
					<div class="form-group">
						<label>Commas Input</label>
						<input class="form-control" type="text" thousands-comma ng-model="misc.thousandsComma"></input>
					</div>
					<div class="form-group">
						<label>Elastic Input</label>
						<input class="form-control" type="text" mv-elastic-input ng-model="misc.elasticInput"></input>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" ng-model="misc.showJSON"></input> Show JSON</label>
					</div>
					<pre ng-show="misc.showJSON">{{ misc | json }}</pre>
				</form>
			</div>
		</div>
	</div>
</body>

<script type="text/ng-template" id="addressDialog.html">
<div class="modal-header">
	<h4 class="modal-title text-center">Address Testing</h4>
</div>
<div class="modal-body">
	<form name="addressDialogForm" novalidation>
		<mv-address
			street="address.street"
			street2="address.street2"
			city="address.city"
			state="address.state"
			zip="address.zip"
			country="address.country"
			required-fields="state.requiredFields"
			use-street-2="address.useStreet2">
		</mv-address>
		<a class="btn btn-primary" ng-disabled="addressDialogForm.$invalid">Submit</a>
		<div class="checkbox">
			<label><input type="checkbox" ng-model="state.showJSON"></input> Show JSON</label>
		</div>
		<pre ng-show="state.showJSON">{{ address | json }}</pre>
	</form>
</div>
<div class="modal-footer">
	<a class="btn btn-warning" ng-click="cancel()">Cancel</a>
	<a class="btn btn-primary" ng-click="ok()">OK</a>
</div>
</script>

<script>
	var app= angular.module('myApp', ['mv.configuration', 'mv.billing', 'mv.filters', 'mv.forms', 'mv.upload.button', 'mv.utils', 'mv.widgets', 'mv.facebook']);

    // configure the martell ventures stuff.
    app.config(["$mvConfigurationProvider", function(mvConfig) {
      mvConfig.setTemplateBasePath('/templates/');
    }]);
	
	app.config(['$mvFacebookConfigurationProvider', function(mvFacebookConfig) {
		mvFacebookConfig.setApplicationID('1624852824413556'); // mv stuff.
		mvFacebookConfig.setRedirectURL('http://ng-mv.local');
	}]);
	
	app.controller("TestController", ['$scope', '$modal', function($scope, $modal) {
		$scope.facebook= {
			response: undefined
		};
		
		$scope.facebookResult= function(status, response) {
			$scope.facebook.status= status;
			$scope.facebook.response= response;

			switch(status)
			{
			case 'cancelled': // user cancelled login. (more info in response)
				break;
			case 'loadingError': // unable to load the facebook js stuff.
				break;
			case 'success': // logged in succesfully. (full info in response)
				break;
			}
		};
		
		$scope.showAddressDialog= function(which) {
			var modalInstance= $modal.open({
				templateUrl: 'addressDialog.html',
				controller: ['$scope', '$modalInstance', 'address', function($scope, $modalInstance, address) {
					$scope.state= {
						showJSON: false,
						requiredFields: {
							street: true,
							city: true,
							state: true,
							country: true,
							zip: true
						}
					};
					$scope.address= address;
					
					$scope.cancel= function() {
						$modalInstance.dismiss();
					};
					
					$scope.ok= function() {
						$modalInstance.close($scope.address);
					}
				}],
				resolve: {
					address: function() {
						var address= {};
						switch(which)
						{
						case 'us':
							address.street='19 Haywood St.'; 
							address.city='Asheville'; 
							address.state='NC'; 
							address.country='US'; 
							address.zip='28801';
							break;
						case 'gb':
							address.street='Houghton Street'; 
							address.city='London'; 
							address.state=''; 
							address.country='GB'; 
							address.zip='WC2A 2AE';
							break;
						case 'ca':
							address.street='453 W 12th Ave'; 
							address.city='Vancouver'; 
							address.state='BC'; 
							address.country='CA'; 
							address.zip='V5Y 1V4';
							break;
						}
						return address;
					},
				}
			}).result.then(function(data) {
				debugger;
			});
		};
	}]);
	
	angular.element(document).ready(function() {
		angular.bootstrap(document, ['myApp']);
	});
</script>
</html>